# Crystal Clock - use 32MHz onboard oscillator
NET "OscIn" LOC = "P89" | IOSTANDARD = LVCMOS33 | PERIOD = 31.25ns;

NET "DataOut<0>" LOC = "P18" | IOSTANDARD = LVCMOS33;
NET "DataOut<1>" LOC = "P23" | IOSTANDARD = LVCMOS33;
NET "DataOut<2>" LOC = "P26" | IOSTANDARD = LVCMOS33;
NET "DataOut<3>" LOC = "P33" | IOSTANDARD = LVCMOS33;
NET "DataOut<4>" LOC = "P35" | IOSTANDARD = LVCMOS33;
NET "DataOut<5>" LOC = "P40" | IOSTANDARD = LVCMOS33;
NET "DataOut<6>" LOC = "P53" | IOSTANDARD = LVCMOS33;
NET "DataOut<7>" LOC = "P57" | IOSTANDARD = LVCMOS33;